# Python
__pycache__/
pycache/
pycache__/
*.pyc
.pytest_cache/
.venv/

# Local environment
.env
.local/
airflow/include/generated_metric_catalog.json

# Streamlit
.streamlit/

# Data artifacts
data/raw/*.parquet
data/raw/*.csv
!data/raw/.gitkeep
data/warehouse/
data/curated/*
!data/curated/.gitkeep
metastore_db/
spark-warehouse/
derby.log

# IDE files
.DS_Store
.idea/
.vscode/

# Terraform state
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform.tfvars.json
